<div class="panel panel-default">
    <div class="panel-heading" id="panelhead">
        <h2>News</h2>
    </div>
    <div class="panel-body">
        <ul class="media-list">
            <div class="media">
                <div class="pull-left">
                    <img class="media-object, img-responsive" src="http://ingetis.com/images/articles/envie-de-s-expatrier-au-canada-73.jpg" alt="..." >
                </div>
                <div class="media-body">
                    <h3 class="media-heading">Trouve ton entreprise avec INGETIS</h3>


                </div>
            </div>

            <div class="media">
                <div class="pull-left" >
                    <img class="media-object, img-responsive" src="http://ingetis.com/images/articles/-75.jpg" alt="...">
                </div>
                <div class="media-body">
                    <h3 class="media-heading">Fête de l'alternance</h3>

                </div>
            </div>

            <div class="media">
                <div class="pull-left">
                    <img class="media-object, img-responsive" src="http://ingetis.com/images/articles/des-evaluations-360-qui-tournent-mal-chez-yahoo-67.jpg" alt="...">
                </div>
                <div class="media-body">
                    <h3 class="media-heading">Des évaluations 360° qui tournent mal chez Yahoo</h3>

                </div>
            </div>
        </ul>
    </div>
</div>